# Problem Set 5

See [Introduction](https://datascience.quantecon.org/../pandas/intro.html) and [Basic Functionality](https://datascience.quantecon.org/../pandas/basics.html)

In [1]:
import pandas as pd
import numpy as np

%matplotlib inline

## Setup

These questions use data on daily Covid cases in health regions in Canada from the [COVID-19 Canada Open Data Working Group](https://github.com/ccodwg/Covid19Canada).

In [2]:
url = "https://github.com/ccodwg/Covid19Canada/raw/master/timeseries_hr/cases_timeseries_hr.csv"
try : # only download if cases_raw has not already been defined 
    cases_raw
except:
    cases_raw = pd.read_csv(url, parse_dates=["date_report"])

try :
    hr_map 
except: 
    hr_map = pd.read_csv("https://github.com/ccodwg/Covid19Canada/raw/master/other/hr_map.csv")

C:\Users\chunq\AppData\Local\Temp\ipykernel_26880\3391791791.py:5: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  cases_raw = pd.read_csv(url, parse_dates=["date_report"])

Now, we create cases per 100,000 and then do the same manipulation as in the pandas basics lecture. We will focus on BC health regions in this problem set.

In [ ]:
cases_raw

      province health_region date_report  cases  cumulative_cases
0      Alberta       Calgary  2020-01-25      0                 0
1      Alberta       Calgary  2020-01-26      0                 0
2      Alberta       Calgary  2020-01-27      0                 0
3      Alberta       Calgary  2020-01-28      0                 0
4      Alberta       Calgary  2020-01-29      0                 0
...        ...           ...         ...    ...               ...
84655    Yukon         Yukon  2022-04-29      9              4196
84656    Yukon         Yukon  2022-04-30      0              4196
84657    Yukon         Yukon  2022-01-05      0              4196
84658    Yukon         Yukon  2022-02-05     21              4217
84659    Yukon         Yukon  2022-03-05      9              4226

[84660 rows x 5 columns]

In [4]:
cases_bc = cases_raw.loc[(cases_raw['province'] == 'BC') &  
                         (cases_raw['date_report'] < pd.to_datetime('2022-01-01')) &
                         (cases_raw['date_report'] >= pd.to_datetime('2021-01-01')),:] # Take the data for BC in year 2021 only
# create cases per 100,000
cases_bc = cases_bc.merge(hr_map[['province','health_region','pop']],
                          on=['province','health_region'],
                          how='left')
cases_bc['cases100k'] = cases_bc['cases'] / cases_bc['pop'] * 100_000
cases_bc = ( 
    cases_bc.reset_index()
    .pivot_table(index='date_report',columns='health_region', values='cases100k')
)    
cases_bc

health_region      Fraser   Interior     Island   Northern  Vancouver Coastal
date_report
2021-01-01       0.000000   0.000000   0.000000   0.000000           0.000000
2021-01-02      25.701861  24.589675   9.101332  33.213897          24.191511
2021-01-03      45.464436   9.935222  10.519722  39.252788          26.815675
2021-01-04      21.129137   7.203036   6.500952  17.110190          21.813363
2021-01-05       0.000000   0.000000   0.000000   0.000000           0.000000
...                   ...        ...        ...        ...                ...
2021-12-27      42.153154  36.387752  24.585417  17.781177          28.865804
2021-12-28      41.995474  33.282995  33.686749  13.755250          32.966060
2021-12-29      83.623027  46.447164  36.523528  33.213897          46.824926
2021-12-30     121.886737  62.219330  54.371594  40.930258          80.119006
2021-12-31     102.176722  39.740889  51.298417  43.278715          79.134944

[365 rows x 5 columns]

The resulting `cases_bc` DataFrame contains Covid cases per 100,000 population for each BC health region and day, in 2021.

## Question 1

Transform the `cases` and `cases100k` columns by taking their absolute value. At each date, what is the minimum number of cases per 100,000 across health regions?

In [ ]:
# Your code here

What was the (daily) median number of cases per 100,000 in each health region?

In [ ]:
# Your code here

What was the maximum number of cases per 100,000 across health regions? In what health region did it happen? On what date was this achieved?

- Hint 1: What Python type (not `dtype`) is returned by a reduction?  
- Hint 2: Read documentation for the method `idxmax`.

In [ ]:
# Your code here

Classify each health region as high or low volatility based on whether the variance of their cases per 100,000 is above or below 100.

In [ ]:
# Your code here

## Question 2

Imagine that we want to determine whether cases per 100,000 was High (> 10),
Low (0 < x <= 10), or None (x = 0) for each health region and each day.

Write a Python function that takes a single number as an input and
outputs a single string which notes whether that number is High, Low, or None.

In [ ]:
# Your code here

Pass your function to either `apply` or `applymap` and save the result in a new DataFrame called `case_bins`.

In [ ]:
# Your code here

## Question 3

This exercise has multiple parts:

Use another transformation on `case_bins` to count how many times each health region had each of the three classifications.

- Hint 1: Will you need to use `apply` or `applymap` for transformation?  
- Hint 2: `value_counts`

In [ ]:
# Your code here

Construct a horizontal bar chart (you can refer to an example of horizontal bar chart [here](https://www150.statcan.gc.ca/edu/power-pouvoir/c-g/c-g05-2-3-eng.png)) to detail the occurrences of each level.
Use one bar per health region and classification for 15 total bars.

In [ ]:
# Your code here

## Question 4

For a single health region of your choice, determine the mean
cases per 100,000 during “High” and “Low” case times.
(recall your `case_bins` DataFrame from the exercise above)

In [ ]:
# Your code here

Which health regions in our sample performs the best during “bad times" ? To
determine this, compute each health region’s mean daily cases per 100,000 where the daily cases per 100,000 is greater than 10 (i.e., in the "high"
category as defined above).

In [ ]:
# Your code here

# Questions 5-8

Run the following code to load a cleaned piece of census data from Statistics Canada.

In [5]:
df = pd.read_csv("https://datascience.quantecon.org/assets/data/canada_census.csv", header=0, index_col=False)
df.head()

,CDcode,Pname,Population,CollegeEducated,PercentOwnHouse,Income
0,1001,Newfoundland and Labrador,270350,24.8,74.1,74676
1,1002,Newfoundland and Labrador,20370,7.5,86.3,60912
2,1003,Newfoundland and Labrador,15560,7.3,86.0,56224
3,1004,Newfoundland and Labrador,20385,10.9,73.7,44282
4,1005,Newfoundland and Labrador,42015,17.0,73.9,62565

A *census division* is a geographical area, smaller than a Canadian province, that is used to
organize information at a slightly more granular level than by province or by city. The census
divisions are shown below.

![https://datascience.quantecon.org/_static/canada_censusdivisions_map.png](https://datascience.quantecon.org/_static/canada_censusdivisions_map.png)

  
The data above contains information on 1) the population, 2) percent of population with a college
degree, 3) percent of population who own their house/apartment, and 4) the median after-tax income at the
*census division* level.

## Question 5

Run the code below to create a separate data source with province codes and names.

In [6]:
df_provincecodes = pd.DataFrame({
    "Pname" : [ 'Newfoundland and Labrador', 'Prince Edward Island', 'Nova Scotia',
                'New Brunswick', 'Quebec', 'Ontario', 'Manitoba', 'Saskatchewan',
                'Alberta', 'British Columbia', 'Yukon', 'Northwest Territories','Nunavut'],
    "Code" : ['NL', 'PE', 'NS', 'NB', 'QC', 'ON', 'MB', 'SK', 'AB', 'BC', 'YT', 'NT', 'NU']
            })
df_provincecodes

                        Pname Code
0   Newfoundland and Labrador   NL
1        Prince Edward Island   PE
2                 Nova Scotia   NS
3               New Brunswick   NB
4                      Quebec   QC
5                     Ontario   ON
6                    Manitoba   MB
7                Saskatchewan   SK
8                     Alberta   AB
9            British Columbia   BC
10                      Yukon   YT
11      Northwest Territories   NT
12                    Nunavut   NU

With this,

1. Either merge or join these province codes into the census dataframe to provide province codes for each province
  name. You need to figure out which “key” matches in the merge, and don’t be afraid to rename columns for convenience.  
1. Drop the province names from the resulting dataframe.  
1. Rename the column with the province codes to “Province”.  Hint: `.rename(columns = <YOURDICTIONARY>)`

## Question 6

Which province has the highest population? Which has the lowest?

## Question 7

Which province has the highest *percent of individuals* with a college education? Which has the
lowest?

Hint: Remember to weight this calculation by population!

## Question 8

By province, what is the *total population* of all census divisions in which more than 80 percent of the population own houses?